@font-face {
  font-family: "SansProRegular";
  src: url("../fonts/PFBagueSansPro.ttf");
}

@font-face {
  font-family: "SansProBold";
  src: url("../fonts/PFBagueSansPro-Bold.ttf");
}

@font-face {
  font-family: "Becubick";
  src: url("../fonts/becubick.ttf");
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  min-height: 300vh;
  color: black;
  background-color: #d4d4d4f6;
  font-family: SansProRegular, sans-serif;
  color: #230000;
}

.body-wrapper {
  min-height: 300vh;
  width: 85%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.header-outer {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  z-index: 3000;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.header-outer .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-outer .header-inner img {
  height: 40px;
  width: 130px;
}

.header-outer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-outer a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #230000;
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
}

.header-outer a:first-child {
  margin: 0;
}

.header-outer a:hover:after {
  -webkit-transform: scalex(1);
          transform: scalex(1);
}

.header-outer a:hover {
  color: #AE1613;
}

.header-outer a:active {
  color: #AE1613;
}

.header-outer a::after {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  content: "";
  color: #AE1613;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #AE1613;
  -webkit-transform: scalex(0);
          transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

#menu {
  display: none;
}

.main {
  height: 100%;
}

.background-grayBLue {
  background-color: #f2f5f7;
}

.background-white {
  background-color: white;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 150px;
  z-index: 1000;
  font-family: SansProRegular, sans-serif;
}

section h2 {
  margin-bottom: 24px;
}

.display-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px;
  font-size: 1.2rem;
}

.display-column p {
  text-align: center;
}

.title-of-list-sections {
  background-color: #AE1613;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.title-of-list-sections h1 {
  color: white;
  font-size: 2rem;
}

.first-section {
  min-height: 450px;
  position: relative;
  background-image: url("../img/wpsm.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-section .wrapper-first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-style: oblique;
  color: white;
}

.first-section .wrapper-first-section h1 {
  font-size: 5rem;
}

.first-section .wrapper-first-section h2 {
  font-size: 4.5rem;
}

.requirements p {
  text-align: center;
}

.section-with-list ol {
  width: 70%;
}

.section-with-list li {
  margin-left: 30px;
}

.tasks {
  background-color: #f2f5f7;
}

.offer {
  background-color: white;
}

.mission h2 {
  margin-bottom: 48px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide iframe {
  width: 80%;
  height: 600px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.valutations-wrapper {
  margin-bottom: 310px;
}

.valuation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
}

.valuation .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid #AE1613;
}

.valuation h5 {
  margin: 16px 0;
}

.valuation p {
  text-align: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cards-performance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-performance .card-performance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 18px 28px 0;
  word-wrap: break-word;
  width: 40%;
}

.cards-performance .card-performance .incon-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 3px solid #AE1613;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-performance .card-performance .icon-performance {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 40px;
}

.cards-performance .card-performance .education {
  background-image: url("../img/icons-for-performanse-block/education.png");
}

.cards-performance .card-performance .social-politics {
  background-image: url("../img/icons-for-performanse-block/social-politics.png");
}

.cards-performance .card-performance .motivation {
  background-image: url("../img/icons-for-performanse-block/motivation.png");
}

.cards-performance .card-performance .adaptation {
  background-image: url("../img/icons-for-performanse-block/adaptation.png");
}

.cards-performance .card-performance p {
  text-align: center;
  font-size: 1rem;
}

.card-performance:nth-child(2n) {
  margin-right: 0;
}

.background-red {
  color: white;
  background-color: #AE1613;
}

.display-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-form {
  margin-bottom: 48px;
}

.title-form p {
  font-size: 1.5rem;
}

.ui-form input {
  outline: none;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  margin-bottom: 24px;
  background: white;
  border-radius: 15px;
  border: 2px solid white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1rem;
}

.ui-form input[type="submit"] {
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: white;
  border-width: 0;
  color: black;
  font-size: 20px;
}

.ui-form .upload-file__wrapper {
  margin-bottom: 24px;
  width: 100%;
}

.ui-form .upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 0.4px;
}

.ui-form .upload-file__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed #FFFF;
  padding: 9px 49px;
  border-radius: 15px;
  cursor: pointer;
}

.ui-form .upload-file__icon {
  width: 30px;
  height: auto;
  margin-right: 11px;
  fill: #ffff;
}

.ui-form .upload-file__label .upload-file__text,
.ui-form .upload-file__label .upload-file__icon path {
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.ui-form .upload-file__label:hover .upload-file__text {
  color: #f89393;
}

.ui-form .upload-file__label:hover .upload-file__icon path {
  fill: #f89393;
}

.ui-form .upload-file__label:hover {
  border: 2px dashed #f89393;
}

.ui-form input[type="submit"]:focus {
  background-color: #f89393;
}

.ui-form input[type="submit"]:hover {
  background-color: #f89393;
}

.ui-form input[type="submit"]:active {
  background-color: #fa7979;
}

.ui-form label {
  font-size: 1.25rem;
  font-weight: bold;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 48px;
  background-color: #2a2b30;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-size: 1.5rem;
}

footer .footer-wrapper .map-wrapper h4 {
  margin-bottom: 24px;
}

footer .footer-wrapper .map-wrapper .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
}

footer .footer-wrapper .information-wrapper {
  margin-bottom: 48px;
}

footer .footer-wrapper .arlift-logo {
  cursor: pointer;
  background-image: url("../img/logo-footer.webp");
  width: 178px;
  height: 70px;
  background-repeat: no-repeat;
}

footer .footer-wrapper a {
  color: white;
}

@media (max-width: 900px) {
  .body-wrapper {
    width: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swiper-slide iframe {
    width: 100%;
    height: 600px;
  }
  .title-form {
    margin-right: 50px;
  }
}

@media (max-width: 800px) {
  .cards-performance .card-performance {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .display-column {
    padding: 30px 10px;
    font-size: 1rem;
  }
  .header-outer .menu a {
    display: none;
  }
  .header-outer .menu-active {
    position: relative;
  }
  .header-outer .menu-active ul {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 25px;
    left: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .header-outer .menu-active ul a {
    text-align: center;
    display: inline;
    margin: 12px;
    word-break: none;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .join-form-wrapper {
    width: 100%;
  }
  .title-form {
    width: 80%;
  }
  .ui-form {
    width: 100%;
  }
  .section-with-list ol {
    width: 95%;
  }
}
/*# sourceMappingURL=main.css.map */