@import "./colors/colors";
@font-face {
  font-family: "SansProRegular";
  src: url("../fonts/PFBagueSansPro.ttf");
}
@font-face {
  font-family: "SansProBold";
  src: url("../fonts/PFBagueSansPro-Bold.ttf");
}
@font-face {
  font-family: "Becubick";
  src: url("../fonts/becubick.ttf");
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  line-height: 1.5;
  min-height: 300vh;

  color: black;
  background-color: #d4d4d4f6;
  font-family: SansProRegular, sans-serif;
  color: $font-default;
}
.body-wrapper {
  min-height: 300vh;
  width: 85%;

  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
}
.header-outer {
  height: 100px;
  position: sticky;
  justify-content: center;
  top: -50px;
  display: flex;
  align-items: center;
  background: $white;
  z-index: 3000;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  .header-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50px;

    position: sticky;
    top: 0;
    img {
      height: 40px;
      width: 130px;
    }
  }

  ul {
    display: flex;
  
   
    
  }
  a {
    text-decoration: none;
    font-size: 1.25rem;
    color: $font-default;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
  }
  a:first-child {
    margin: 0;
  }
 

  a:hover:after {
    transform: scalex(1);
  }
  a:hover {
    color: $red;
  }
  a:active {
    color: $red;
  }
  a::after {
    transition: 0.25s ease;
    content: "";
    color: $red;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $red;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}
#menu {
  display: none;
}
.main {
  height: 100%;
}
.background-grayBLue {
  background-color: $second-main;
}
.background-white {
  background-color: white;
}
section {
  display: flex;

  width: 100%;

  min-height: 150px;

  z-index: 1000;

  font-family: SansProRegular, sans-serif;
  h2 {
    margin-bottom: 24px;
  }
}
.display-column {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  font-size: 1.2rem;
  p {
    text-align: center;
  }
}
.title-of-list-sections {
  background-color: $red;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  h1 {
    color: $white;
    font-size: 2rem;
  }
}
.first-section {
  min-height: 450px;
  position: relative;
  background-image: url("../img/wpsm.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .wrapper-first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-style: oblique;
    color: $white;
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4.5rem;
    }
  }
}
.requirements {
  p {
    
    text-align: center;
  }
}

.section-with-list {
  ol {
    width: 70%;
  }
  li {
    margin-left: 30px;
  }
}
.tasks {
  background-color: $second-main;
}
.offer {
  background-color: $white;
}
.mission {
  h2 {
    margin-bottom: 48px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  iframe {
    width: 80%;
    height: 600px;
  }
  img {

    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
.valutations-wrapper {
  margin-bottom: 310px;
}

.valuation {
  display: flex;
  flex-direction: column;
  align-items: center;

  word-wrap: break-word;


  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 1px solid $red;
  }
  h5 {
    margin: 16px 0;
  }
  p {
    text-align: center;
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cards-performance {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  .card-performance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 18px 28px 0;
    word-wrap: break-word;
    width: 40%;

    .incon-wrapper {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      border: 3px solid $red;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon-performance {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      padding: 40px;
    }
    .education {
      background-image: url("../img/icons-for-performanse-block/education.png");
    }
    .social-politics {
      background-image: url("../img/icons-for-performanse-block/social-politics.png");
    }
    .motivation {
      background-image: url("../img/icons-for-performanse-block/motivation.png");
    }
    .adaptation {
      background-image: url("../img/icons-for-performanse-block/adaptation.png");
    }
    p {
      text-align: center;
      font-size: 1rem;
    }
  }
}
.card-performance:nth-child(2n) {
  margin-right: 0;
}

.background-red {
  color: $white;
  background-color: $red;
}
.display-row {
  display: flex;

  
  padding: 48px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}
.join-form-wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap
}
.title-form {
  margin-bottom: 48px;
  p {
    font-size: 1.5rem;
  }
}
.ui-form {
 
  input {
    outline: none;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    margin-bottom:24px ;
    background: $white;
    border-radius: 15px;
    border: 2px solid $white;
    transition: all 0.2s ease;
    font-size: 1rem;
  }
 input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: $white;
    border-width: 0;
    color: black;
    font-size: 20px;
 }
.upload-file__wrapper {
  margin-bottom: 24px;
  width: 100%;
}
 .upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;

  height: 0.4px;
}

.upload-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #FFFF;
  padding: 9px 49px;
  border-radius: 15px;
  cursor: pointer;
}

.upload-file__icon {
  width: 30px;
  height: auto;
  margin-right: 11px;
  fill: #ffff;
}

.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
  transition: .25s ease;
}

.upload-file__label:hover .upload-file__text {
  color: rgb(248, 147, 147);
}

.upload-file__label:hover .upload-file__icon path {
  fill: rgb(248, 147, 147);
}

.upload-file__label:hover {
  border: 2px dashed rgb(248, 147, 147);
}
 input[type="submit"]:focus {
  background-color: rgb(248, 147, 147);
 }
 input[type="submit"]:hover {
  background-color: rgb(248, 147, 147);
 }
 input[type="submit"]:active {
  background-color: rgb(250, 121, 121);
 }


label {
  font-size: 1.25rem;
  font-weight: bold;
}

}
footer {
  display: flex;
  justify-content:center ;
 
  width: 100%;
  padding: 48px;
  background-color: #2a2b30;
  .footer-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white;
    font-size: 1.5rem;
    .map-wrapper {
      h4 {
        margin-bottom: 24px;
      }
      
      .map {
        display: flex;
        width: 100%;
        height: 300px;
       
      }
    }
    .information-wrapper {
      margin-bottom:48px;
    }
    .arlift-logo {
      cursor: pointer;
      background-image: url('../img/logo-footer.webp');
      width: 178px;
      height: 70px;
      background-repeat: no-repeat;
    }
    a {
      color: $white;
    }

  }
 
}


@media (max-width: 900px) {
  .body-wrapper {
    width: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    iframe {
      width: 100%;
      height: 600px;
    }
  }
  .title-form {
    margin-right: 50px;
  }
}
@media (max-width: 800px) { 
  .cards-performance {
    .card-performance {
      width: 100%;
    }
  } 
 
}
@media (max-width: 700px) { 

  .display-column {
    padding: 30px 10px;
    font-size: 1rem;
  }
  .header-outer {
    .menu {
      a {
        display: none;
      }
    }
    .menu-active {
      position: relative;
     
      ul {
        position: absolute;
        width: max-content;
        top: 25px;
        left: -100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        a {
          text-align: center;
          display: inline;
          margin: 12px;
          word-break: none;
        }
      }
     
    }
  }
  #menu {
    display: flex;
  }
  .join-form-wrapper {
    width: 100%;
  }
  .title-form {
    width: 80%;
  }
  .ui-form {
      width: 100%;
    }
  
  .section-with-list {
    ol {
      width: 95%;
    }
  }
}