@font-face {
  font-family: "SansProRegular";
  src: url("../fonts/PFBagueSansPro.ttf");
}

@font-face {
  font-family: "SansProBold";
  src: url("../fonts/PFBagueSansPro-Bold.ttf");
}

@font-face {
  font-family: "Becubick";
  src: url("../fonts/becubick.ttf");
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  min-height: 300vh;
  position: relative;
  color: black;
  background-color: #c4bcbc;
  font: normal SansProRegular, sans-serif;
  color: #230000;
}

.body-wrapper {
  width: 70%;
  background-color: white;
}

.header-outer {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  z-index: 2000;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.header-outer .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-outer .header-inner img {
  height: 40px;
  width: 130px;
}

.header-outer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-outer ul a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #230000;
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
}

.header-outer ul a:last-child {
  margin-right: 0;
}

.main {
  height: 100vh;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 150px;
  z-index: 1000;
  font-family: SansProRegular, sans-serif;
}

section h2 {
  margin-bottom: 24px;
}

.display-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px;
  font-size: 1.2rem;
}

.first-section {
  height: 250px;
  position: relative;
  background-image: url("../img/wpsm.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.first-section .wrapper-first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-style: oblique;
  color: white;
}

.first-section .wrapper-first-section h1 {
  font-size: 3rem;
}

.first-section .wrapper-first-section h2 {
  font-size: 2.5rem;
}

.requirements p {
  font-size: 1.25rem;
  text-align: center;
}

.section-with-list ol {
  width: 70%;
}

.section-with-list li {
  margin-left: 30px;
}

.tasks {
  background-color: #f2f5f7;
}

.offer {
  background-color: white;
}
/*# sourceMappingURL=main.css.map */